<%- include("../includes/header.ejs", {title:"Add New Account"}); %>
    <h1>Add New Account</h1>
    <form action="/account/insert" method="get">

        First Name: <input id="first_name" name="first_name" type="text" /> <br/>
        Last Name: <input id="last_name" name="last_name" type="text" /> <br/>
        Email: <input id="email" name="email" type="text" /><br/>
        School: <br/>
        <select id="school_id" name="school_id" multiple="multiple">
            <% for (var i = 0; i < schools.length; i++) {%>
                <option value="<%= schools[i].school_id %>"><%= schools[i].school_name %></option>
            <% } %>
        </select><br/>
        Companies: <br/>
        <select id="company_id" name="company_id" multiple="multiple">
            <% for (var i = 0; i < companies.length; i++) {%>
                <option value="<%= companies[i].company_id %>"><%= companies[i].company_name %></option>
            <% } %>
        </select><br/>
        Skills: <br/>
        <select id="skill_id" name="skill_id" multiple="multiple">
            <% for (var i = 0; i < skills.length; i++) {%>
                <option value="<%= skills[i].skill_id %>"><%= skills[i].skill_name %></option>
            <% } %>
        </select><br />
        <br/>
        <script type="text/javascript">
            $(document).ready(function() {
                $('select').multiselect();
            });
        </script>
        <input type="submit" />

    </form>
<%- include("../includes/footer.ejs"); %>