<%- include("../includes/header.ejs", {title:"Account - " + account.first_name + " " + account.last_name}); %>
    <h1>Accounts</h1>
    <ul>
        <li>Account Name: <%= account.first_name %> <%= account.last_name %></li>
        <li>Email: <%= account.email %></li>
        <li>Schools: </li>
        <ol>
            <% for (var i = 0; i < account_school.length; i++) { %>
                <li><%= account_school[i].school_name %></li>
            <% } %>
        </ol>
        <li>Companies: </li>
        <ol>
            <% for (var i = 0; i < account_company.length; i++) { %>
                <li><%= account_company[i].company_name %></li>
            <% } %>
        </ol>
        <li>Skills:</li>
        <ol>
            <% for (var i = 0; i < account_skill.length; i++) { %>
                <li><%= account_skill[i].skill_name %></li>
            <% } %>
        </ol>
    </ul>

<a href="/account/all"><< back</a>

<%- include("../includes/footer.ejs"); %>