<%- include("../includes/header.ejs", {title: "Update " + account[0].first_name + " " + account[0].last_name}); %>

<h1>Update <%= account[0].first_name%> <%= account[0].last_name%></h1>
<form action="/account/update" method="get">
    <input type="hidden" id="account_id" name="account_id" value="<%= account[0].account_id %>">
    First Name: <input id="first_name" name="first_name" type="text" value="<%= account[0].first_name%>"/> <br/>
    Last Name: <input id="last_name" name="last_name" type="text" value="<%= account[0].last_name%>"/> <br/>
    Email: <input id="email" name="email" type="text" value="<%= account[0].email%>"/><br/>
    School: <br/>
    <select id="school_id" name="school_id" multiple="multiple">
        <% for (var i = 0; i < account_school.length; i++) { %>
            <option value="<%= account_school[i].school_id%>" selected><%= account_school[i].school_name %></option>
        <% } %>
        <% for (var i = 0; i < school.length; i++) {%>
            <option value="<%= school[i].school_id %>"><%= school[i].school_name %></option>
        <% } %>
    </select><br/>
    Companies: <br/>
    <select id="company_id" name="company_id" multiple="multiple">
        <% for (var i = 0; i < account_company.length; i++) { %>
          <option value="<%= account_company[i].company_id%>" selected><%= account_company[i].company_name %></option>
        <% } %>
        <% for (var i = 0; i < company.length; i++) {%>
            <option value="<%= company[i].company_id %>"><%= company[i].company_name %></option>
        <% } %>
    </select><br/>
    Skills: <br/>
    <select id="skill_id" name="skill_id" multiple="multiple">
        <% for (var i = 0; i < account_skill.length; i++) { %>
            <option value="<%= account_skill[i].skill_id%>" selected><%= account_skill[i].skill_name %></option>
        <% } %>
        <% for (var i = 0; i < skill.length; i++) {%>
            <option value="<%= skill[i].skill_id %>"><%= skill[i].skill_name %></option>
        <% } %>
    </select><br />
    <br/>

    <br />
    <script type="text/javascript">
        $(document).ready(function() {
            $('select').multiselect();
        });
    </script>
    <input type="submit" />

</form>

<%- include("../includes/footer.ejs"); %>

</html>