<%- include("../includes/header.ejs", {title:"Select Account"}); %>

<h1>Select Account</h1>
    <br/>
    Accounts
    <form action="/resume/add" method="get">
        <select id="account_id" name="account_id">
            <% for (var i = 0; i < result.length; i++) {%>
                <option value="<%= result[i].account_id %>"><%= result[i].first_name %> <%= result[i].last_name %></option>
            <% } %>
        </select>
        <input type="submit" />
    </form>
<%- include("../includes/footer.ejs"); %>