<%- include("../includes/header.ejs", {title:"Resume - View All"}); %>

<h1>Resumes</h1>
    <br/>
    <form action="/resume/insert" method="post">
        <input type="hidden" id="account_id" name="account_id" value="<%= account[0].account_id %>"/>
        Resume Name: <input type="text" id="resume_name" name="resume_name" /><br/>
        Schools: <br/>
        <select multiple="multiple" id="school_id" name="school_id">
            <% for (var i = 0; i < account_school.length; i++) { %>
                <option value="<%= account_school[i].school_id %>"><%= account_school[i].school_name %></option>
            <% } %>
        </select>
        <br/>
        Companies: <br/>
        <select multiple="multiple" id="company_id" name="company_id">
            <% for (var i = 0; i < account_company.length; i++) { %>
                <option value="<%= account_company[i].company_id %>"><%= account_company[i].company_name %></option>
            <% } %>
        </select>
        <br/>
        Skills:<br/>
        <select multiple="multiple" id="skill_id" name="skill_id">
            <% for (var i = 0; i < account_skill.length; i++) { %>
                <option value="<%= account_skill[i].skill_id %>"><%= account_skill[i].skill_name %></option>
            <% } %>
        </select>
        <br/>
        <input type="submit" />
    </form>
<%- include("../includes/footer.ejs"); %>