<%- include("../includes/header.ejs", {title: "Update Resume"}); %>

<h1>Update Resume</h1>
<% if (locals.was_successful) { %>
<div class=""col-md-12">
    <div id=""message" class="alert alert-success col-md-4">
        <%= resume[0].resume_name %> was successfully saved
    </div>
</div>
<% } %>

<form action="/resume/update" method="post">
    <input type="hidden" name="resume_id" value="<%= resume[0].resume_id%>"/>
    Resume Name: <input type="text" name="resume_name" value="<%= resume[0].resume_name %>"/><br/>
    Companies: <br/>
    <select id="resume_company" name="resume_company" multiple="multiple">
        <% for (var i = 0; i < resume_company.length; i++) {%>
            <option value="<%= resume_company[i].company_id%>" selected><%= resume_company[i].company_name %></option>
        <% } %>
        <% for (var i = 0; i < account_company.length; i++) {%>
            <option value="<%= account_company[i].company_id%>" ><%= account_company[i].company_name %></option>
        <% } %>
    </select>
    <br/>
    Schools: <br/>
    <select id="resume_school" name="resume_school" multiple="multiple">
        <% for (var i = 0; i < resume_school.length; i++) {%>
        <option value="<%= resume_school[i].school_id%>" selected><%= resume_school[i].school_name %></option>
        <% } %>
        <% for (var i = 0; i < account_school.length; i++) {%>
        <option value="<%= account_school[i].school_id%>" ><%= account_school[i].school_name %></option>
        <% } %>
    </select>
    <br/>
    Skills: <br/>
    <select id="resume_skill" name="resume_skill" multiple="multiple">
        <% for (var i = 0; i < resume_skill.length; i++) {%>
        <option value="<%= resume_skill[i].skill_id%>" selected><%= resume_skill[i].skill_name %></option>
        <% } %>
        <% for (var i = 0; i < account_skill.length; i++) {%>
        <option value="<%= account_skill[i].skill_id%>" ><%= account_skill[i].skill_name %></option>
        <% } %>
    </select>
    <br/>
    <script type="text/javascript">
        $(document).ready(function() {
            $('select').multiselect();
        });
    </script>
    <input type="submit"/>
</form>

<%- include("../includes/footer.ejs"); %>

</html>