<%- include("../includes/header.ejs", {title:"Add New Skill"}); %>
    <h1>Add New Skill</h1>
    <form action="/skill/insert" method="get">

        Skill: <input id="skill_name" name="skill_name" type="text" /> <br/>
        Desc: <input id="description" name="description" type="text" /> <br/>


        <br />

        <input type="submit" />

    </form>
<%- include("../includes/footer.ejs"); %>