<%- include("../includes/header.ejs", {title:"Skill - " + result[0].street}); %>
    <h1>Address</h1>
    <ul>
        <li>Street: <%= result[0].skill_name %></li>
        <li>Zip: <%= result[0].description %></li>
    </ul>

<a href="/skill/all"><< back</a>

<%- include("../includes/footer.ejs"); %>