<%- include("../includes/header.ejs", {title:"Add New School"}); %>
    <h1>Add New School</h1>
    <form action="/school/insert" method="get">

        Name: <input id="school_name" name="school_name" type="text" /> <br/>
        Address: <br/>
            <select id="address_id" name="address_id">
                <% for (var i=0; i < result.length; i++) {%>
                    <option value="<%= result[i].address_id %>"><%=result[i].street + ', ' + result[i].zip_code%></option>
                <% } %>
            </select>


        <br />

        <input type="submit" />

    </form>
<%- include("../includes/footer.ejs"); %>