<%- include("../includes/header.ejs", {title:"School - View All"}); %>

<h1>School</h1>
        <a href="/school/add">Add New School</a> <br />

        <br />

        <table border="1">
                <tr><th>Name</th><th>Actions</th></tr>
            <% for(var i=0; result.length > i; i++ ) { %>
                <tr>
                        <td><a href="/school/?school_id=<%= result[i].school_id %>"><%= result[i].school_name %></a></td>
                        <td>
                                <button onclick="event.preventDefault();window.location.href='/school/edit/?school_id=<%= result[i].school_id %>'">Edit</button>
                                <form action="/school/delete/" style="display:inline;">
                                        <input type="hidden" name="school_id" id="school_id" value="<%= result[i].school_id %>" />
                                        <input type="submit" value="Delete"/>
                                </form>

                        </td>
                </tr>
            <% } %>
        </table>
<%- include("../includes/footer.ejs"); %>