<%- include("../includes/header.ejs", {title:"School - " + result[0].school_name}); %>
    <h1>School</h1>
    <ul>
        <li>School: <%= result[0].school_name %></li>
        <li>Street: <%= result[0].street %></li>
        <li>Zip: <%= result[0].zip_code %></li>
    </ul>

<a href="/school/all"><< back</a>

<%- include("../includes/footer.ejs"); %>