<%- include("../includes/header.ejs", {title: "Update " + school.school_name }); %>

<h1>Update <%= school.school_name%> </h1>
<form action="/school/update" method="get">
    <input type="hidden" id="school_id" name="school_id" value="<%= school.school_id %>">
    <input type="text" id="school_name" name="school_name" value="<%= school.school_name %>"/>
    <br/>
    <select id="address_id" name="address_id">
        <option value="<%= school.address_id %>" selected><%= school.street + ', ' + school.zip_code%></option>
        <% for (var i = 0; i < address.length; i++) {%>
            <option value="<%= address[i].address_id %>"><%=address[i].street + ', ' + address[i].zip_code%></option>
        <% } %>
    </select>
    <br/>
    <br />

    <input type="submit" />

</form>

<%- include("../includes/footer.ejs"); %>

</html>